/* Custom Background Image - Seamless via viewport-fixed positioning */
[class*="subtitleContainer_"] section[class*="title_"], /* Header above chat */
.container__551b0, /* Discover Page Sidebar Menu */
.content_f75fb0, /* Message Requests Page */
.content_b6bcee, /* Quests page */
.shop__08415, /* Discord's Shop Page */
.privateChannels_e6b769, /* Direct Messages - Footer */
.form_f75fb0, /* Chat Input Inner */
.container__2637a, /* Channel List */
.messagesWrapper__36d07, /* Chat */
.nowPlayingColumn__133bf, /* Now Playing Column */
.scroller__99e7c, /* Friend List & Direct Messages */
.peopleColumn__133bf, /* Online Friends */
.members_c8ffbb { /* Member List */
    background: linear-gradient(var(--gx-main-bg), var(--gx-accent)), var(--gx-image-bg) !important;
    background-size: cover !important;
    background-position: center;
    background-attachment: fixed !important;
    background-blend-mode: multiply;
    transform: none !important;
}


/* BACKGROUNDS */
.childContainer__91a9d,
.resizeHandle__01ae2,
.container__8a031,
.container_d9c882,
.header_d9c882,
.container__9293f,
.chatHeaderBar_a5700d,
.container_f369db,
.container__34c2c,
.scroller__6131a,
.navScroller__409aa,
.contentHeader_e9e3ed,
.contentWrapper__08434, /* Gifs Popup */
.sidebar__5e434::after,
.sidebarResizeHandle__5e434,
.sidebarRegionScroller__23e6b,
.contentRegionShownSidebar__23e6b,
.sidebarRegion__23e6b,
.contentWrapper__08434, /* Stickers Popup */
.parentContainer__5573a:hover .container__5573a {
    background: var(--gx-main-bg) !important;
    background-attachment: fixed !important;
}

/* Channel Name */
.name__2ea32:not(.modeSelected__2ea32) {
    color: var(--gx-text-normal);
}

.modeSelected__2ea32 .name__2ea32 {
    color: var(--gx-text-selected);
}

/* Channel Name (Hover) */
.name__2ea32:not(.modeSelected__2ea32):hover {
    color: var(--gx-accent);
}

.link__2ea32 {
    background: transparent;
    border: transparent !important;
}

.link__2ea32:hover {
    color: var(--gx-accent);
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
}

.link__2ea32 .icon__2ea32 {
    color: var(--gx-accent2);
}

/* Selected Channel */
.modeSelected__2ea32 .link__2ea32 {
    background-color: var(--gx-accent);
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
}

/* Channel Icons */

.link__2ea32[aria-current="page"] .icon__2ea32 {
    color: var(--gx-main-bg);
}

.link__2ea32:not([aria-current="page"]) .icon__2ea32 {
    color: var(--gx-accent);
}

/* Channel Categories */
.name__29444 .overflow_b0dfc2 {
    color: var(--gx-accent);
}

.embedFull__623de {
    background: var(--gx-other);
    border-top: 1px solid color-mix(in srgb, var(--gx-accent) 40%, transparent);
    border-bottom: 1px solid color-mix(in srgb, var(--gx-accent) 40%, transparent);
    border-right: 1px solid color-mix(in srgb, var(--gx-accent) 40%, transparent);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* Message Divider */
.divider__5126c {
    border-color: var(--gx-accent);
}

/* Mentioned Message */
.mentioned__5126c {
    background-color: color-mix(in srgb, var(--gx-accent) 25%, transparent);
}

.mentioned__5126c:before {
    background: var(--gx-accent);
}


.isUnread__908e2 .content__908e2 {
    background:  var(--gx-accent) !important;
    color: var(--gx-accent2);
}

.container_c8ffbb {
    border-inline-start: none !important;
}

.content__908e2 {
    background-color: var(--gx-accent);
    color: var(--gx-main-bg);
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.unreadPill__908e2:not {
    background-color: var(--gx-accent) !important;
    color: var(--gx-main-bg);
}

[class*="unreadPillCapStroke"] {
    fill: var(--gx-accent) !important;
    stroke: var(--gx-accent);
}

.bar_c38106 {
    background: var(--gx-main-bg);
    border-bottom: 1px solid var(--gx-accent);
}

[class*="subtitleContainer_"] section[class*="title_"] {
    position: relative;
}

.container__9293f,
[class*="Container_"] section[class*="title_"]::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient( to right, var(--gx-accent), var(--gx-accent2) 10%, transparent 50%, transparent);
    pointer-events: none;
}

.sidebarList__5e434 {
    border-top: 1px solid color-mix(in srgb, var(--gx-accent) 50%, transparent);
}

.sidebarResizeHandle__5e434 {
    position: unset;
}

.chat_f75fb0[data-has-border="true"] { /* Disables the weird border in the header */
    border-top: none !important;
}

nav[class*="guilds_"] {
    position: relative;
    background-color: var(--gx-main-bg);
}

nav[class*="guilds_"]::after {
    content: "";
    position: absolute;
    inset-block: 0;
    inset-inline-end: 0;
    inline-size: 1px;
    background: linear-gradient(180deg, var(--gx-accent) 0%, #ff004023 50%, #ff004000 100%);
    pointer-events: none;
}

.sidebarList__5e434 {
    border-inline-start: none;
    background-color: var(--gx-main-bg);
    border-top: none !important;
}

.container__2637a {
    border-top: 1px solid var(--gx-accent);
}

.sidebarListRounded__5e434 {
    border-start-start-radius: unset !important;
}

.baseShapeRound__463b7:not(.numberBadge__463b7) {
    background-color: var(--gx-main-bg) !important;
    color: var(--gx-accent);
}

.button__24af7 {
    color: var(--gx-accent);
}

.clickable__9293f .icon__9293f {
    color: var(--gx-accent);
}

.spriteGreyscale__04eed {
    background-color: var(--gx-accent);
}

.spriteColored__04eed {
    opacity: 0 !important;
}

.spriteGreyscale__04eed {
    opacity: 1 !important;
}

.childContainer__91a9d.nameplated__91a9d {
    background: transparent;
}

.member_c8ffbb {
    background-color: var(--gx-main-bg);
}

.lowerBadge_cc5dd2 > .numberBadge__463b7 {
    color: var(--gx-main-bg);
    background-color: var(--gx-accent) !important;
}

foreignObject {
    mask: none !important;
    -webkit-mask: none !important;
}

.icon__6e9f8 {
    border-radius: 25%;
}

.mentionsBadge__933a1 .numberBadge__463b7 {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    width: 20px !important;
    height: 20px;

    color: var(--gx-main-bg);
    background: var(--gx-accent) !important;
}

.modeSelected__2ea32 .mentionsBadge__933a1 .numberBadge__463b7 {
    color: var(--gx-accent);
    background: var(--gx-main-bg) !important;
}

.unreadImportant__2ea32 {
    background-color: var(--gx-accent);
}

/* Ephemeral Message - BG */
.ephemeral__5126c {
    background-color: color-mix(in srgb, var(--gx-accent) 20%, transparent);
}

/* Ephemeral Message:Before */
.ephemeral__5126c:before {
    background: var(--gx-accent);
}

/* Ephemeral Message Content */
.container__60fa3 {
    background: var(--gx-main-bg);
    border: 1px solid var(--gx-accent);
}

.embedTitle__623de {
    color: var(--gx-accent);
}

.children__9293f:after {
    background: transparent !important;
}

/* Custom Scrollbar - Track */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

/* Scrollbar - Normal State */
::-webkit-scrollbar-thumb {
    background-color: var(--gx-accent);
    border-radius: 8px;
    border: 2px solid transparent;
    background-clip: padding-box;
}

/* Scrollbar - Hover State */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--gx-accent2);
}

/* Scrollbar - Drag/Active State */
::-webkit-scrollbar-thumb:active {
    background-color: color-mix(in srgb, var(--gx-accent) 50%, transparent);
    box-shadow: 0 0 6px 1px color-mix(in srgb, var(--gx-accent) 60%, transparent);
}

.link__2ea32:hover {
   background: color-mix(in srgb, var(--gx-accent2) 60%, transparent) !important;
}

.wrapper__2ea32:hover .name__2ea32 {
    color: var(--gx-text-normal) !important;
}

/* Action Icons */
[class*="actionIcon"] {
    color: var(--gx-text-selected) !important;
}

/* Servers with no Custom Background */
.childWrapperNoHoverBg__6e9f8 {
    border-radius: 25%;
    background-color: var(--gx-accent);
    color: var(--gx-text-selected)
}

.wrapper__6e9f8.selected__6e9f8 .childWrapper__6e9f8, .wrapper__6e9f8:hover .childWrapper__6e9f8 {
    background-color: var(--gx-accent2);
    color: var(--gx-text-selected);
}

/* Add Server & Discover Buttons */
.circleIconButton__5bc7e {
    border-radius: 25%;
    background-color: var(--gx-accent);
    color: var(--gx-text-selected);
}

.circleIconButton__5bc7e:hover:not(.disabled__5bc7e) {
    background-color: var(--gx-accent2);
    color: var(--gx-text-selected);
}

::selection {
    background-color: var(--gx-accent);
    color: var(--gx-main-bg);
}

.buttonChildrenWrapper_a22cb0 {
    background-color: var(--gx-accent);
    color: var(--gx-text-selected);
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    border: none !important;
}

.divider_ee23ac {
    display: none;
}

.sidebar__409aa {
    border-inline-end: none;
}

/* VENCORD SETTINGS PAGE */
.vc-card-base:not(.vc-settings-quickActions-card) {
    background: var(--gx-main-bg);
    border: 1px solid var(--gx-accent2);
}

.vc-settings-quickActions-card {
    background-color: var(--gx-main-bg);
    border: 1px solid var(--gx-accent2);
}

/* VENCORD THEME CARDS */
.vc-addon-card {
    background-color: var(--gx-main-bg);
    border: 1px solid var(--gx-accent);
    border-radius: 10%;
}

/* VENCORD THEME TITLE */
.vc-addon-title {
    color: var(--gx-accent);
}

.item_caf372 {
    color: var(--gx-text-normal);
}

.item_caf372:hover {
    color: var(--gx-text-normal);
    background-color: var(--gx-accent2);
     clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
}

.item_caf372.active_caf372 {
    background-color: var(--gx-accent);
    color: var(--gx-text-selected);
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
}

.subnav_e4d939 .item_e4d939 {
    color: var(--gx-text-normal) !important;
}

.subnav_e4d939 .item_e4d939:hover {
    color: var(--gx-accent) !important;
}

.thumbAnchor_e4d939 {
    background-color: var(--gx-accent);
    box-shadow: 0 0 10px var(--gx-accent2);
}

.track_e4d939 {
    background-color: var(--gx-accent2);
}

.primary_a22cb0 { /* Removes the border from primary buttons */
    border: none;
}

.mainCard_f369db {
    background: var(--gx-main-bg);
    border: 1px solid var(--gx-accent);
}

.mainCard_f369db:hover {
    background: var(--gx-main-bg);
    border: 1px solid var(--gx-accent2);
}

/* Close Buttons - accent bg on full outer wrapper, black X icon, no clip-path */
button:has(path[d^="M19.3 20.7a1 1 0 0 0 1.4-1.4"]) .buttonChildrenWrapper_a22cb0 {
    background-color: var(--gx-accent) !important;
    color: var(--gx-text-selected) !important;
    clip-path: unset !important;
    border-radius: 4px !important;
}

/* Refresh Voice Channels Button - reset, exclude from buttonChildrenWrapper accent styling */
.refreshVoiceChannelsButton__29444 .buttonChildrenWrapper_a22cb0 {
    background-color: unset !important;
    color: unset !important;
    clip-path: unset !important;
    border: unset !important;
}

/* NEW MESSAGES BAR */
.newMessagesBar__0f481 {
    background-color: var(--gx-accent);
}

.barButtonMain__0f481 {
    color: var(--gx-text-selected);
}

/* New Messages - Read as Read Text */
.markAsReadText__0f481 { /* The Selector that will send you to the recent unread message */
    color: var(--gx-text-selected);
}

/* Mark as Read Button */
.barButtonIcon__0f481 {
    color: var(--gx-text-selected);
}


.vc-settings-quickActions-pill {
    background-color: var(--gx-accent);
    color: var(--gx-text-selected);
     clip-path: polygon(10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px);
}

.vc-settings-quickActions-pill:hover {
    background-color: var(--gx-accent2);
    color: var(--gx-text-selected);
    clip-path: polygon(10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px);
}

.childWrapper__6e9f8 svg {
    display: none;
}

.wrapper__6e9f8[data-list-item-id="guildsnav___home"] .childWrapper__6e9f8 {
    background: var(--gx-accent) !important;
    -webkit-mask: url("https://snajperexe.github.io/GXCord/opera_gx.svg") center / 25px no-repeat;
    mask: url("https://snajperexe.github.io/GXCord/opera_gx.svg") center / 30px no-repeat;
}

.channelMention {
    background: var(--gx-accent) !important;
    color: var(--gx-text-selected) !important;
    border: 1px solid var(--gx-accent);
    border-radius: 8px;
    clip-path: polygon(14% 0, 98% 0, 100% 28%, 100% 72%, 98% 100%, 86% 100%, 2% 100%, 0 72%, 0 28%, 0 0);
    overflow: hidden;
}

.unreadPill__908e2 {
    background-color: var(--gx-accent);
}

.channelInfo_c69b6d .text-xs\/semibold_cf4812[style*="text-muted"] {
    color: var(--gx-text-selected) !important;
    background: var(--gx-accent);
    clip-path: polygon(50% 10%, 100% 0, 90% 50%, 100% 100%, 50% 90%, 0 100%, 10% 50%, 0 0);
    height: 15px;
    min-width: 15px;
    text-align: center;
    line-height: 15px;
}


.containerDragBefore_c69b6d:before {
    background-color: var(--gx-accent);
}

.cozy_c19a55 .timestamp_c19a55 {
    color: var(--gx-accent);
    font-weight: 700;
}

.popover_d6f39b {
    background-color: var(--gx-main-bg);
    border: 1px solid var(--gx-accent);
}

.popover_d6f39b .text-sm\/medium_cf4812 {
    color: var(--gx-accent) !important;
}

.row__76f04 .timestamp__76f04 {
    color: var(--gx-accent) !important;
    text-shadow: 0 0 10px var(--gx-accent2);
}

.upload_aa605f {
    background-color: var(--gx-main-bg);
    border: 1px dashed var(--gx-accent);
}

.activityPanel__5e434 {
    background-color: var(--gx-main-bg);
    border: 1px solid var(--gx-accent);
}

.popover_f84418.popover_f84418 {
    background-color: color-mix(in srgb, var(--gx-accent) 10%, var(--gx-accent2));
    border: 1px solid var(--gx-main-bg);
    box-shadow: 0 0 10px var(--gx-accent);
}

.button_f7ecac.dangerous_f7ecac {
    color: color-mix(in srgb, var(--gx-accent) 100%, var(--gx-accent2));
}

.button_f7ecac.dangerous_f7ecac:hover {
    color: color-mix(in srgb, var(--gx-accent2) 100%, var(--gx-accent));
    background-color: var(--gx-accent);
}


.button_f7ecac:not(.button_f7ecac.dangerous_f7ecac) {
    color: var(--gx-main-bg) !important;
}

.button_f7ecac:not(.button_f7ecac.dangerous_f7ecac):hover {
    color: var(--gx-main-bg) !important;
    background-color: var(--gx-accent);
}

.peopleListItem_cc6179 {
    border-top: 1px solid color-mix(in srgb, var(--gx-accent) 50%, transparent);
    border-radius: unset;
}

.safetySettingsNotice__9536c {
    background-color: var(--gx-accent2);
}

.safetySettingsNotice__9536c .text-sm\/medium_cf4812 {
    color: var(--gx-main-bg) !important;
    font-weight: 600;
}

.anchor_edefb8 {
    color: var(--gx-accent);
}

.searchBar_e6b769 {
    background-color: var(--gx-main-bg);
}

.rowButton_cc6179:hover {
    background-color: color-mix(in srgb, var(--gx-accent2) 10%, transparent);
}
.interactiveSelected__972a0 {
    background: transparent !important;
}

.content_b6bcee {
    background-color: var(--gx-main-bg);
}

.overlay-primary_a22cb0 {
    background-color: transparent !important;
    border: none;
}

.overlay-secondary_a22cb0 {
    background-color: transparent !important;
    border: none;
}

.channel__972a0:not(.dm__972a0) .interactive__972a0:not(.interactiveSelected__972a0):hover {
    background: color-mix(in srgb, var(--gx-accent2) 25%, transparent);
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size)) !important;
}

.image__33d12 {
    position: relative;
    background: none !important;
}

.image__33d12::before {
    content: "";
    position: absolute;
    inset: 0;

    background: var(--gx-accent);
    -webkit-mask: url("https://snajperexe.github.io/GXCord/opera_gx.svg")
        center / contain no-repeat;
    mask: url("https://snajperexe.github.io/GXCord/opera_gx.svg")
        center / contain no-repeat;
}

.text__33d12 {
    color: transparent; 
}

.text__33d12::before {
    content: "No new message requests. Go make some friends.";
    display: block;
    text-align: center;
    color: var(--gx-text-normal);
}

.text__33d12::after {
    content: "ERR_INV_FRIENDS";
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .35em;
    color: color-mix(in srgb, var(--gx-accent) 70%, transparent);
}

/* Primary Buttons */

.primary_a22cb0 { /* Removes the unnecessary discord's default background color for primary buttons */
    background-color: transparent;
}

/* Primary Buttons - Hover */
.primary_a22cb0:hover { /* Removes the unnecessary discord's default background color for primary buttons but for hover */
    background-color: transparent;
}

/* Secondary Buttons */
.secondary_a22cb0 { /* Removes the unnecessary discord's default background color for secondary buttons */
    background-color: transparent;
}

/* Unread Bar */
.unread__3b95d {
    background-color: var(--gx-main-bg);
    border: 1px solid var(--gx-accent);
    color: var(--gx-accent);
}

/* Server Menu */
.menu_c1e9c4 {
    background-color: var(--gx-main-bg);
    border: 1px solid var(--gx-accent);
}

/* Server Menu - Icons */
.icon_c1e9c4 {
    color: var(--gx-accent);
}

/* Server Menu - Icons (Hover) */
.colorDefault_c1e9c4.focused_c1e9c4:not(.checkboxContainer_c1e9c4) path {
    fill: var(--gx-accent2) !important;
}

/* Dividers & Separators */
.sectionDivider__629e4,
.header_f37cb1,
.container__0d0f9,
.separator_c1e9c4 {
    border-bottom: 1px solid transparent;
    background-color: transparent;
}

/* Search Bar (Obviously) */
.searchBar_c322aa {
    border: 1px solid var(--gx-accent);
}

/* SearchBar - Placeholder Text */
.public-DraftEditorPlaceholder-inner {
    color: var(--gx-text-normal);
}

/* Chat Box */
.channelTextArea_f75fb0 {
    border: 1px solid var(--gx-accent) !important;
}

/* Chat Box - Placeholder Text */
.slateTextArea_ec4baf {
color: var(--gx-text-normal);
}

/* Lottie Icons */
.lottieIcon__5eb9b svg {
    color: var(--gx-accent);
}

.wrapper__44df5 {
    background-color: var(--gx-main-bg);
    border: 1px solid var(--gx-accent);
}

/* Bold Text Markup */
.markup__75297 strong {
    color: var(--gx-accent);
    background-color: color-mix(in srgb, var(--gx-accent2) 25%, transparent); /* reduced opacity so `color` value pops out nicely */
}

.root__5c1cf {
    background: var(--gx-main-bg);
    border: 1px solid var(--gx-accent);
    border-radius: 12px;
    color: var(--gx-accent)
}


.root__5c1cf .text-md\/semibold_cf4812 {
    color: var(--gx-accent);
}

.root__5c1cf .header__5c1cf svg path {
    fill: var(--gx-accent);
}

/*We Yeet Focused Target's Outline, duh... */
.focusTarget__54e4b:focus {
    outline: none;
}

/* Experiment Card - Variant Picker */
.selectFieldContainer__0edde {
    border: 1px solid var(--gx-accent2);
    border-radius: 10px;
}

.root__49fc1 {
    background: var(--gx-other);
    border: 1px solid color-mix(in srgb, var(--gx-accent) 25%, transparent);
}

/* Ring that Focuses.. */
.focus-rings-ring {
    box-shadow: 0 0 0 4px var(--gx-accent) !important;
}

.scrollableContainer__74017 {
    background-color: var(--gx-main-bg);
}

/* Header above chat */
[class*="subtitleContainer_"] section[class*="title_"] {
    border-bottom: transparent !important; /* added !important to override discord's default value :) */
}


.scroller__6b0e0,
.scroller_affa7e {
    background-color: var(--gx-main-bg);
}

.categoryHeader_d1405b {
    background-color: var(--gx-accent);
}

.headerLabel__14245 {
    color: var(--gx-text-selected);
}

.icon__1a58a {
    color: var(--gx-text-selected);
}

.title__920ab {
    color: var(--gx-accent) !important;
}

.description__920ab {
    color: var(--gx-text-normal) !important;
}

.source__920ab {
    color: var(--gx-accent) !important;
}

.stackedBars__74017 {
    background: var(--gx-main-bg);
    border-bottom: 1px solid var(--gx-accent) !important;
}

.stackedBars__74017 .text-md\/semibold_cf4812 {
    color: var(--gx-accent) !important;
}

.scroller__6131a {
    background-color: var(--gx-main-bg);
}

/* Vencord - Local Themes Tab (Selected) */
.top_aa8da2 .item_aa8da2.selected_aa8da2 {
    color: var(--gx-accent);
}

/* Vencord - Local Themes Tab (Selected+After) */
.top_aa8da2 .item_aa8da2.selected_aa8da2::after {
    background: var(--gx-accent2);
}
/* Vencord - Local Themes Tab (Selected+Hover) */
.top_aa8da2 .item_aa8da2.selected_aa8da2:hover {
    color: var(--gx-accent2);
}
/* Vencord - Local Themes Tab (Not Selected) */
.top_aa8da2 .item_aa8da2.brand_aa8da2:not(.item_aa8da2.selected_aa8da2) {
    color: var(--gx-accent);
}

/* Vencord - Local Themes Tab (Not Selected+After) */
.top_aa8da2 .item_aa8da2.brand_aa8da2:not(.item_aa8da2.selected_aa8da2):after {
    background: var(--gx-accent);
}

.container__133bf,
.container__9293f {
    background-color: var(--gx-main-bg) !important;
    border-top: none !important;
}

.tabBar__133bf .addFriend__133bf.addFriend__133bf.addFriend__133bf {
    background-color: var(--gx-accent) !important;
    color: var(--gx-text-selected);
    font-weight: 600;
}

/* Friends List - Search Bar */
.container__72c38 {
    border: 1px solid var(--gx-accent);
    border-radius: 10px;
}

.centerTarget_d144f8.dragOver_d144f8::before {
    background: var(--gx-accent);
    box-shadow:
        0 0 4px color-mix(in srgb, var(--gx-accent) 70%, transparent),
        0 0 12px color-mix(in srgb, var(--gx-accent) 35%, transparent);
}

/* New Unreads Bar */
.bar__7aaec {
    background: linear-gradient(90deg, #2A0009 0%, #5A0018 50%, #8F002A 100%) !important;
    border: 1px solid color-mix(in srgb, var(--gx-accent) 45%, transparent);
    border-radius: 10px;
    color: var(--gx-text-selected);
    box-shadow:
        0 0 12px color-mix(in srgb, var(--gx-accent) 20%, transparent),
        inset 0 1px 0 color-mix(in srgb, white 8%, transparent);
    transition: .2s ease;
}

.bar__7aaec:hover {
    background: linear-gradient(90deg, #35000C 0%, #69001D 50%, #B10033 100%) !important;
    border-color: var(--gx-accent);
    box-shadow:
        0 0 16px color-mix(in srgb, var(--gx-accent) 35%, transparent);
}

/* New Unreads Bar - Text */
.bar__7aaec .barText__7aaec {
    color: var(--gx-text-selected) !important;
    font-weight: 600;
}

.modeSelected__2ea32 .link__2ea32 .text-xs\/semibold_cf4812 {
    color: var(--gx-text-selected) !important;
}

/* Reac to Post container */
.container__34c2c {
    background: var(--gx-main-bg) !important;
    border: none;
}

.messageGroupWrapper_e8b59c,
.messagesPopoutWrap_e8b59c {
    background-color: var(--gx-main-bg) !important;
    border: 1px solid var(--gx-accent);
    border-radius: 15px;
}

.messageGroupWrapper_e8b59c {
    border: 1px solid var(--gx-accent);
}

/* Pinned Messages Header */
.header_e8b59c {
    background-color: var(--gx-main-bg);
}

/* Pinned Messages - Header Text */
.header_e8b59c .text-lg\/semibold_cf4812 {
    color: var(--gx-accent) !important;
}

/* Removes the weird ass overlay that prevents you to click on a class in DevTools */
.clickTrapContainer__59d0d.trapClicks__59d0d { /* We will yeet it because its annoying */
    pointer-events: none !important;
}

/* Mention Bars / Pills */
.mention__3b95d { /* the pill that appears at the bottom of the server/guild list */
    background-color: var(--gx-accent);
    color: var(--gx-text-selected);
    box-shadow: 0 0 10px var(--gx-accent2);
}

/* that thing that appears above the avatar */
.repliedMessageClickableSpine_c19a55 { /* this is a Reply Spine, duh... */
    border-color: var(--gx-accent);
}

/* Activity Panels */
.container__0f2e8 {
    background-color: transparent;
    border: 1px solid var(--gx-accent2);
}

.container__0f2e8:hover {
    background-color: transparent;
    border: 1px solid var(--gx-accent);
}

.refresh-active-now .wrapper__00943 {
    background: var(--gx-main-bg);
    border: 1px solid var(--gx-accent);
   border-top-right-radius:  10px;
}

/* Blocked Users List */
.usersList_a72ffc {
    background-color: var(--gx-main-bg);
    border-top: 1px solid var(--gx-accent);
    border-left: 1px solid var(--gx-accent);
    border-right: 1px solid var(--gx-accent);
    border-bottom: 1px solid var(--gx-accent);
    border-radius: 10px;
}

/* Blocked Users Header */
.header_a72ffc {
    background-color: var(--gx-main-bg);
}

.card_a72ffc {
    background-color: transparent !important;
}

.row_a72ffc {
    border-bottom: 1px solid var(--gx-accent2);
}

.fixedContent__409aa:after {
    background: linear-gradient( 180deg,
    color-mix(in srgb, var(--gx-accent) 100%, transparent) 0%,
    color-mix(in srgb, var(--gx-accent) 0%, transparent) 100%);
    width: calc(105% - 31px);
    margin: 0 4.5px;
}

.channel__972a0:not(.dm__972a0) .interactiveSelected__972a0 .link__972a0 {
    background: var(--gx-accent);
    color: var(--gx-text-selected);
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
}

/*Server Menu - Selected */
.item_aa8da2.selected_aa8da2 {
    background: var(--gx-accent) !important;
    color: var(--gx-text-selected);
    clip-path: polygon( var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)),calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size) );
}

/*Server Menu - Hover */
.side_aa8da2 .item_aa8da2:hover {
    background: color-mix(in srgb, var(--gx-accent2) 35%, transparent) !important;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
}

.header_c6bf1b,
.titleContainer_e29cd7,
.customScroller__23e6b {
    background-color: var(--gx-main-bg);
    border: none !important;
}

/* Role Permissions Container */
.container_d8f25b {
    background-color: var(--gx-main-bg);
    border: 1px solid var(--gx-accent);
}

.container_d8f25b .text-md\/bold_cf4812 {
    color: var(--gx-accent) !important;
}

/* Message Divider */
.divider__5126c {
    background-color: var(--gx-accent);
}

.markup__75297 code.inline {
    color: var(--gx-accent);
    background: color-mix(in oklab, var(--gx-accent) 7.84%, transparent);
    border: 1px solid var(--gx-accent2);
}

.active_a22cb0 {
    background-color: transparent;
}

.active_a22cb0:hover {
    background-color: transparent;
}

.scroller__7d20c {
    border-inline-start: none;
}

.scrollerFade__7f9c0 {
    -webkit-mask-image: none !important;
}

.footer__49fc1 {
    background-color: var(--gx-other);
}

.contentWrapper__08434 {
    border: 1px solid var(--gx-accent);
}

/* Inbox, Help and Experiments icons */
.clickable__81391 {
    color: var(--gx-accent);
}

/* Inbox, Help and Experiments icons - Hover */
.clickable__81391:hover:not(.disabled__81391) {
    color: var(--gx-accent2);
    background-color: color-mix(in srgb, var(--gx-accent) 15%, transparent);
}

/* Windows Buttons */
.winButton_c38106 {
    color: var(--gx-accent);
    transition: .15s ease;
}

/* Windows Buttons - Minimize */
.winButtons_c38106 > :nth-child(1):hover {
    color: #5ad769;
    background: rgb(90 215 105 / 12%);
}

/* Windows Buttons - Resize / Restore Down */
.winButtons_c38106 > :nth-child(2):hover {
    color: #ffb347;
    background: rgb(255 179 71 / 12%);
}

/* Windows Buttons - Close */
.winButtons_c38106 > :nth-child(3):hover {
    color: #ff4b4b;
    background: rgb(255 75 75 / 15%);
}

/* Shared Hover Effects */
.winButtons_c38106 > *:hover {
    text-shadow: 0 0 8px currentColor;
    transition: .15s ease;
}

.membersWrap_c8ffbbm { /* Member List Wrapper */
    background-color: var(--gx-main-bg) !important;
}

/* Update Ready */
.clickable__81391:has(path[fill="var(--green-360)"]) {
    animation: updatePulse 2s infinite ease-in-out;
}

.clickable__81391:has(path[fill="var(--green-360)"]):hover {
    filter: drop-shadow(0 0 10px currentColor);
}

.clickable__81391:has(path[fill="var(--green-360)"]) path {
    fill: var(--gx-accent) !important;
}

@keyframes updatePulse {
    0%, 100% {
        filter: brightness(1);
    }
    50% {
        filter: brightness(5) drop-shadow(0 0 10px currentColor);
    }
}


/* Smooth Animations on Server Switch */

/* Channel List */
.container__2637a {
    animation: gxChannelSlide .18s ease-out;
}

/* Chat Messages */
.cozy_c19a55 {
    animation: gxMessageFade .20s ease-in-out;
}

/* Member List */
.membersWrap_c8ffbb {
    animation: gxMemberSlide .6s ease-out;
}

/* === Animations === */

/* Channel List -> */
@keyframes gxChannelSlide { /* Moves Channel List smoothly to the right on server switch */
    from {
        opacity: 0;
        transform: translateX(-14px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Member List <- */
@keyframes gxMemberSlide { /* Moves Server List smoothly to the right on server switch */
    from {
        opacity: 0;
        transform: translateX(14px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Chat */
@keyframes gxMessageFade { /* Makes Chat content nicely pop out */
    from {
        opacity: 0;
        filter: blur(2px);
    }

    to {
        opacity: 1;
        filter: blur(0);
    }
}

/* Experiments DropDown */
.selectDropdown__0edde {
    background-color: var(--gx-main-bg);
    border: 1px solid var(--gx-accent);
}

/* Expression Picker */
.positionLayer__08434 {
    transform-origin: bottom right;
    animation: gxPopup .16s cubic-bezier(.22, 1, .36, 1);
    will-change: transform, opacity;
}

/* Expression Picker Animations *//
@keyframes gxPopup {
    from {
        opacity: 0;
        transform: translateY(10px) scale(.96);
        filter: blur(3px);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
        filter: blur(0);
    }
}

.scrollerBase__99f8c {
    background-color: var(--gx-main-bg);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container_fed6d3 {
    background-color: transparent !important;
}

/* Expression Picker Header */
.header_fed6d3 {
    background-color: var(--gx-main-bg);
}

/* Emoji Picker - Server Header */
.wrapper__14245 {
    background-color: var(--gx-accent);
}

/* Emoji Picker - Emoji Details */
.inspector_aeaaeb {
    background-color: var(--gx-main-bg);
    border-bottom-right-radius: 10px;
}

.unicodeShortcut_b9ee0c {
    background-color: var(--gx-main-bg);
    color: var(--gx-accent);
}

/* Popular Server Emojis */
.topGuildEmojiBadge_aeaaeb {
    background: linear-gradient(268deg, var(--gx-accent), var(--gx-accent2) 100%);
}

/* If a guild icon has background, removes it */
.guildIcon__0fa6d {
    background-color: var(--gx-main-bg) !important;
}
